*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
html,body{
  height: 100%;
  width: 100%;
}
#page1{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom left ,#b5179e,#ffffff,rgb(230, 115, 115))
}
#box{
  width: 65%;
  height: 75%;
  background-color: white;
  border-radius: 20px;
  border: 5px solid rgb(187, 185, 185);
  box-shadow: 20px 0px 90px rgba(0, 0, 0, 0.5);
  
}
#pic{
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: brown; */

}
#circle{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: bisque;
  position: relative;
  overflow: hidden;
  top: -70px;
  border: 5px solid rgb(187, 185, 185);
}
#circle img{
  height: 100%;
  width: 100%;
  object-fit: cover;

  object-position: right;
}
#title{
  text-align: center;
}
#data{
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.value{
  text-align: center;
}
#logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 3vw;
}
#buttons{
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
#buttons button{
  border-radius: 50px;
  border: none;
  padding: 13px 44px;
  font-size: 26px;
  color: white;
  background-color: rgb(187, 100, 204);
}
#title h1{
  font-weight: 800;
  font-size: 40px;
  color: #b5179e;
}